<!-- index.ejs -->
<html>
  <head>
    <link rel="stylesheet" href="/styles.css">
    <title>Genres</title>
  </head>
  <body>

    <%- include('header') %>

    <ul class="genres">
        <% genres.forEach((genre) => { %>
          <li><%= genre.genre_name %>
            <a href="/genres/<%= genre.genre_name %>" >
              <span>open</span>
            </a>
          </li>
        <% }); %>
      </ul>
      
  </body>


</html>