<header>
    <h2>MovieBuzz</h2>

    <nav>
        <ul>
            <li> <a href="/"" >Home</a> </li>
            <li> <a href="/movies/"" >Movies</a> </li>
            <li><a href="/genres/"" >Genres</a> </li>
            <li><a href="/studios/"" >Studios</a> </li>
        
    
        </ul>
    </nav>
</header>