<!-- views/index.ejs -->
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/styles.css">
  <title></title>
</head>
<body>
    <%- include('header') %>

  <h1>Welcome to Movie Buzz!</h1>
  
</body>
</html>