<!-- index.ejs -->
<html>
  <head>
    <link rel="stylesheet" href="/styles.css">

    <title>Movies</title>
  </head>
  <body>
    <%- include('header') %>
    <a href="/movies/add" >
      <span>Add movie</span>
    </a>
    <ul class="movies">
        <% movies.forEach((movie) => { %>
          <li><%= movie.title %>
          <a href="/movies/<%= movie.movie_id %>"" >
            <span>open</span>
          </a>
        </li>
        <% }); %>
      </ul>
      
  </body>


</html>