<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">

    <title>Update Genre</title>
</head>
<body>
    <%- include('header') %>
    <%- include("partials/errors.ejs") %>

    <h1>Update Genre</h1>
    <form method="POST" action="/genres/<%= genreName %>/update">
        <label for="genreName">
            Genre Name
            <input type="text" id="genreName" name="genreName">
        </label>
        <input type="submit" value="send">
     </form>
</body>
</html>